


&spi1 {
    mt29f: mt29f@0 {
        compatible = "micron,mt29f";
        reg = <0>;
        label = "MT29F";
        spi-max-frequency = <1000000>;
        frame-format = <0>;
        status = "okay";
    };

    icm42670p: icm42670p@1 {
		compatible = "invensense,icm42670p";
		reg = <1>;
		spi-max-frequency = <1000000>;         /* Reduced to 8MHz for stability */
        int-gpios = <&gpio0 9 GPIO_ACTIVE_LOW>, <&gpio0 3 GPIO_ACTIVE_LOW>;
		status = "okay";
		
		/* Required properties based on binding file */
		accel-hz = <100>;    /* Reduced to 100 Hz for initial testing */
		gyro-hz = <100>;     /* Reduced to 100 Hz for initial testing */
		accel-fs = <2>;      /* Reduced to ±2g for initial testing */
		gyro-fs = <250>;     /* Reduced to 250 dps for initial testing */
	};

    imu:icm42670@2 {
        compatible = "tdk,icm42670p";
        reg = <1>;
        label = "ICM-42670-P";
        spi-max-frequency = <500000>;
        status = "okay";
    };

    status = "okay";
    //max-frequency = <DT_FREQ_M(1)>;
};



&spi1_default {
    group1 {
        psels = <NRF_PSEL(SPIM_SCK, 0, 5)>,
                <NRF_PSEL(SPIM_MOSI, 0, 6)>,
                <NRF_PSEL(SPIM_MISO, 0, 8)>;
    };
};


&led1 {
    gpios = <&gpio0 16 0>;
};
