


&spi1 {
    mt29f: mt29f@0 {
        compatible = "micron,mt29f";
        reg = <0>;
        label = "MT29F";
        spi-max-frequency = <1000000>;
        frame-format = <0>;
        status = "okay";
    };

    icm42670p: icm42670p@1 {
        compatible = "tdk,icm42670p";
		// compatible = "invensense,icm42670p";
		reg = <1>;
		spi-max-frequency = <8000000>; /* Reduced to 8MHz for stability */
        int-gpios = <&gpio0 9 GPIO_ACTIVE_LOW>, <&gpio0 3 GPIO_ACTIVE_LOW>;

		/* Required properties based on binding file */
		accel-hz = <100>;    /* Reduced to 100 Hz for initial testing */
		gyro-hz = <100>;     /* Reduced to 100 Hz for initial testing */
		accel-fs = <2>;      /* Reduced to ±2g for initial testing */
		gyro-fs = <250>;     /* Reduced to 250 dps for initial testing */

        status = "okay";
	};

    st7789v2: st7789v2@2 {
        compatible = "waveshare,st7789v2";
        reg = <2>;
        spi-max-frequency = <8000000>;
        dc-gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio0 24 GPIO_ACTIVE_LOW>;
        bl-gpios = <&gpio0 1 GPIO_ACTIVE_HIGH>;
        status = "okay";
    };

    st7735s: st7735s@3 {
        // compatible = "sitronix,st7735r";
        compatible = "waveshare,st7735s";
        reg = <3>;
        spi-max-frequency = <8000000>;
        dc-gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio0 31 GPIO_ACTIVE_LOW>;
        // width = <128>;
        // height = <160>;
        // x-offset = <0>;
        // y-offset = <0>;
        // madctl = <0x60>;
        // colmod = <0x55>;
        // caset = [00 00 00 4F];
        // raset = [00 00 00 9F];
        // vmctr1 = <0x0e>;
        // invctr = <0x07>;
        // pwctr1 = [a2 02 84];
        // pwctr2 = [c5];
        // pwctr3 = [0a 00];
        // pwctr4 = [8a 2a];
        // pwctr5 = [8a ee];
        // frmctr1 = [01 2c 2d];
        // frmctr2 = [01 2c 2d];
        // frmctr3 = [01 2c 2d 01 2c 2d];
        // gamctrp1 = [02 1c 07 12 37 32 29 2d 29 25 2b 39 00 01 03 10];
        // gamctrn1 = [03 1d 07 06 2e 2c 29 2d 2e 2e 37 3f 00 00 02 10];
        // inversion-on;
        status = "okay";
        };

    status = "okay";
};


&spi1_default {
    group1 {
        psels = <NRF_PSEL(SPIM_SCK, 0, 5)>,
                <NRF_PSEL(SPIM_MOSI, 0, 6)>,
                <NRF_PSEL(SPIM_MISO, 0, 8)>;
    };
};


