


&spi1 {
    mt29f: mt29f@0 {
        compatible = "micron,mt29f";
        reg = <0>;
        label = "MT29F";
        spi-max-frequency = <1000000>;
        frame-format = <0>;
        status = "okay";
    };

    icm42670p: icm42670p@1 {
		compatible = "invensense,icm42670p";
		reg = <1>;
		spi-max-frequency = <800000>; /* Reduced to 8MHz for stability */
        int-gpios = <&gpio0 9 GPIO_ACTIVE_LOW>, <&gpio0 3 GPIO_ACTIVE_LOW>;

		/* Required properties based on binding file */
		accel-hz = <100>;    /* Reduced to 100 Hz for initial testing */
		gyro-hz = <100>;     /* Reduced to 100 Hz for initial testing */
		accel-fs = <2>;      /* Reduced to ±2g for initial testing */
		gyro-fs = <250>;     /* Reduced to 250 dps for initial testing */

        status = "okay";
	};

    st7789v2:st7789v2@2 {
        compatible = "waveshare,st7789v2";
        reg = <2>;
        spi-max-frequency = <800000>;

        cs-gpios = <&gpio0 31 GPIO_ACTIVE_HIGH>;
        dc-gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio0 11 GPIO_ACTIVE_LOW>;
        bl-gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>;

        status = "okay";
    };

    status = "okay";
};



&spi1_default {
    group1 {
        psels = <NRF_PSEL(SPIM_SCK, 0, 5)>,
                <NRF_PSEL(SPIM_MOSI, 0, 6)>,
                <NRF_PSEL(SPIM_MISO, 0, 8)>;
    };
};


